<header>
    
        <div class="header-container navbar fixed-top navbar-light bg-light background-color:none">
            <div class="logo">
                <a class="navbar-brand" href="#" routerLink=""><img id="logo" src="/Images/BTSlogo.png.jpg" alt="" width="50px" height="50px"> </a>
          
             <a class="nav-link" routerLink="">    
                 <h1>BTS<span id="logo-title">Merch</span></h1>
             </a>     
            </div>
    
             <div>
                 <ul class="menu">
                        <li><a class="nav-link" routerLink="pagar">Pagar</a></li>
                        <li><a class="nav-link" routerLink="carrito"><span > {{counter()}} </span><i class="fa-solid fa-bag-shopping"></i></a></li>
                        <li><a class="nav-link" routerLink="confirmacion">Mi Cuenta </a></li>                
                 </ul>
            </div>  
        </div>       
 </header>
 